/*
  - Soft Cyan (Full Slider Bar): hsl(174, 77%, 80%)
- Strong Cyan (Slider Backround): hsl(174, 86%, 45%)
- Light Grayish Red (Discount Background): hsl(14, 92%, 95%)
- Light Red (Discount Text): hsl(15, 100%, 70%)
- Pale Blue (CTA Text): hsl(226, 100%, 87%)

- White (Pricing Component Background): hsl (0, 0%, 100%)
- Very Pale Blue (Main Background): hsl(230, 100%, 99%)
- Very Light Grayish Blue (Empty Slider Bar): hsl(224, 65%, 95%)
- Light Grayish Blue (Toggle Background): hsl(223, 50%, 87%)
- Grayish Blue (Text): hsl(225, 20%, 60%)
- Dark Desaturated Blue (Text & CTA Background): hsl(227, 35%, 25%)
*/

:root {
  --soft-cyan: hsl(174, 77%, 80%);
  --strong-cyan: hsl(174, 86%, 45%);
  --light-grayish-red: hsl(14, 92%, 95%);
  --light-red: hsl(15, 100%, 70%);
  --pale-blue: hsl(226, 100%, 87%);
  --white: hsl (0, 0%, 100%);
  --very-pale-blue: hsl(230, 100%, 99%);
  --very-light-grayish-blue: hsl(224, 65%, 95%);
  --light-grayish-blue: hsl(223, 50%, 87%);
  --grayish-blue: hsl(225, 20%, 60%);
  --dark-desaturated-blue: hsl(227, 35%, 25%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--very-pale-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Manrope", sans-serif;
  background-image: url("../images/bg-pattern.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  height: 140px;
  background: url("../images/pattern-circles.svg") center no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: var(--dark-desaturated-blue);
  font-size: 1.8rem;
}

h2,
p {
  color: var(--grayish-blue);
  font-size: 0.8rem;
  font-weight: bold;
}

h1,
h2 {
  text-align: center;
}

.content {
  z-index: 1000;
  display: flex;
  background-color: white;

  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  min-height: 300px;
  height: 380px;

  padding: 35px;
  border-radius: 8px;
  box-shadow: 4px 12px 24px 0px rgba(50, 50, 50, 0.23);
}

@media (max-width: 470px) {
  body {
    padding: 30px;
  }
  .content {
    max-width: 100%;
    /* min-height: 480px; */
    padding: 30px;
  }

  h1 {
    font-size: 1.4rem;
  }

  ul {
    margin-bottom: 12px;
  }
  li {
    font-size: 0.8rem;
  }

  footer {
    flex-direction: column;
    justify-content: space-between;
  }
}
.slider_header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.slider_header span {
  color: var(--dark-desaturated-blue);
  font-size: 2.5rem;
  font-weight: 800;
  /* line-height: 0rem; */
}

.switcher_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-left: 10px;
  font-size: 0.8rem;
  color: var(--grayish-blue);
  font-weight: bold;
}

.switcher_wrapper > span {
  background-color: var(--light-grayish-red);
  color: var(--light-red);
  padding: 2px 6px 2px;
  border-radius: 6px;
}

.switcher {
  border-style: none;
  width: 300px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer li {
  list-style: none;
  color: var(--grayish-blue);
}

footer li img {
  margin-right: 4px;
}

button {
  padding: 10px 28px 10px;
  border-radius: 18px;
  border-style: none;
  background-color: var(--dark-desaturated-blue);
  color: var(--pale-blue);
  font-size: 0.8rem;
}

button:hover {
  color: var(--very-pale-blue);
  cursor: pointer;
}
